.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.values {
  background: url('../images/banner.jpg') no-repeat center;
  width = 100%;
  height = 100%;
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}


.top1{
    min-height:780px;
}

.top2{
    position:fixed;
    background:#1F2256;
    height:100%;
    width:100%;
    position:relative;
    position:fixed;
    top:0px;
}

.top3{
    position:abosolute;
    top:2px;
    left:20px;
    background: #1F2256 url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 0px;
    z-index:999;
    height:100%;

}
