body {
	font: 16px/1.5 sans-serif;

}

#content {
	margin: 20px;
}

h1 {
	font-size: 2em;
	margin-bottom: 30px;
}

a:link, a:visited, a:hover, a:active {
	color: #fff;
}

a:hover, a:focus {
	outline:1px solid white;
}

#content a:link, #content a:visited, #content a:active {
	color: #1F2256;
}

#content a:focus {
	color: #e25741;
	outline:1px solid #e25741;
}

#container {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

#footer {
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	background-color: #1F2256;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 10px;
	font-size: .9em;
	font-family: Ubuntu, sans-serif;
}

#logo { float: left; }

.nav ul {
  list-style: none;
  background-color: #1F2256;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: Ubuntu, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

#header {
	display: block;
	top:0px;
	left:0px;
	width:100%;
	background-color: #1F2256;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin-top: 10px;
	font-size: .9em;
	font-family: Ubuntu, sans-serif;
}

#carousel {
	width: 780px;
	margin: 0 auto;
}

#ui-carousel-next, #ui-carousel-prev {
	width: 60px;
	height: 240px;
	background: url(../images/arrow-left.png) #fff center center no-repeat;
	display: block;
	position: absolute;
	top: 0;
	z-index: 100;
}

#ui-carousel-next {
	right: 0;
	background-image: url(../images/arrow-right.png);
}

#ui-carousel-prev {
	left: 0;
}

#ui-carousel-next > span, #ui-carousel-prev > span {
	display: none;
}

.slide {
	margin: 65px 0 0 0;
	position: relative;
	text-align: center;
}

.slide  h1 {
	font: 72px/1 Anton, sans-serif;
	color: #ff5c43;
	margin: 0;
	padding: 0;
}

.slide p {
	font: 26px/1 Ubuntu, sans-serif;
	color: #4d4d4d;
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

.slide p.cite {
	font: 32px/1 Anton, sans-serif;
	color: #ff5c43;
	margin: 15px 0 0 0;
	padding: 0;
	text-align: right;
}

#pages {
	width: 230px;
	margin: 0 auto;
	text-align: center;
}

.bullet {
	background: url(../images/page-off.png) center center no-repeat;
	display: block;
	width: 18px;
	height: 18px;
	margin: 0;
	margin-right: 5px;
	float: left;
}
